{% extends 'base.html' %}


{% block content %}


<h2 class="mb-4">
    Create New Post
</h2>


<form method="POST">

    {% csrf_token %}


    <!-- Title -->
    <label>
        Title
    </label>

    <input 
        type="text"
        name="title"
        class="form-control"
        placeholder="Enter post title"
        required
    >


    <br>


    <!-- Content -->
    <label>
        Content
    </label>

    <textarea
        name="content"
        class="form-control"
        placeholder="Write your post"
        rows="5"
        required
    ></textarea>


    <br>


    <!-- Category -->
    <label>
        Category
    </label>

    <select 
        name="category"
        class="form-control"
    >

        <option value="">
            Select Category
        </option>


        {% for category in categories %}

        <option value="{{ category.id }}">
            {{ category.name }}
        </option>

        {% endfor %}

    </select>


    <br>


    <!-- Tags -->
    <label>
        Tags
    </label>

    <select
        name="tags"
        class="form-control"
        multiple
    >

        {% for tag in tags %}

        <option value="{{ tag.id }}">
            {{ tag.name }}
        </option>

        {% endfor %}

    </select>


    <small class="text-muted">
        Hold Ctrl button to select multiple tags
    </small>


    <br><br>


    <!-- Status -->
    <label>
        Status
    </label>


    <select 
        name="status"
        class="form-control"
    >

        <option value="draft">
            Draft
        </option>


        <option value="published">
            Published
        </option>

    </select>


    <br>


    <button 
        type="submit"
        class="btn btn-primary"
    >
        Create Post
    </button>


</form>


{% endblock %}