{% extends 'base.html' %}


{% block content %}


<div class="row justify-content-center">


<div class="col-md-5">


<div class="card shadow">


<div class="card-body">


<h2 class="text-center mb-4">
    Register
</h2>




<form method="POST">


{% csrf_token %}




<div class="mb-3">


<label class="form-label">
    Username
</label>


<input
    type="text"
    name="username"
    class="form-control"
    placeholder="Enter username"
    required>


</div>





<div class="mb-3">


<label class="form-label">
    Password
</label>


<input
    type="password"
    name="password"
    class="form-control"
    placeholder="Enter password"
    required>


</div>





<button type="submit"
        class="btn btn-success w-100">

    Register

</button>



</form>




<hr>




<p class="text-center">

    Already have an account?

</p>



<a href="{% url 'login' %}"
   class="btn btn-outline-primary w-100">

    Login

</a>



</div>


</div>


</div>


</div>



{% endblock %}